body{
   box-sizing: 0;
   margin:0;
   padding :0;
   font-family: 'Hermeneus One', sans-serif;                                                            
   letter-spacing: 2px;
 
}
.container{
    background : #F4F4F4;
    width: 90%;
    height : 80vh;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);

}

.buttons{
display: grid;
justify-items: center;

gap: 20px;
width: 100%;
}
.buttons > button{
    width: 250px;
    padding: 10PX;
    border: #F4F4F4 solid;
    border-radius: 5px;
    
}

.try {
    background-color: #179FF3;
    color: rgb(250, 249, 249);
}


.quit {
    background-color: #F98F8F;
    color: white;
}

.see{
    background-color: #5DCAB0;
    color:white;
}