<<<<<<< HEAD
*{
    margin: Opx;
    padding: 0px;
    background-color: #F4F4F4;
    letter-spacing: 2px;  
    font-family: 'Hermeneus One', sans-serif;                                                            
}
.container{
display: grid;
justify-items: center;
height: 100%;
}
.container > h1 {
    background-image: url(./images/jason-leung-hsS6jTr-pns-unsplash.jpg);
    background-size: cover;
    color: transparent;
    background-clip: text;
    animation: animate 20s linear infinite;
}
.container > h3{
background-image: linear-gradient(to right , #3AB3FF , #757fce);
    background-size: cover;
    color: transparent;
    background-clip: text;
    animation: animate 20s linear infinite;

}

@keyframes animate{
    to{
        background-position-x: -500px ;
    }
}
.container > .cyrcle{
    width: 100px;
    height: 100px;
    background-color: #3AB3FF;
    border-radius: 100%;
border: gold 2px solid;
}
.container > .inputs{
    display: grid;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 10px;
}
.container > .inputs > input{
    width: 250px;
    padding: 10px ;
    background-color: #FFFEFE;
    border: #F4F4F4;
    border-radius: 5px;
}
.container > .inputs > button{
    background-color: #3AB3FF;
    color: white;
    padding: 5px;
    font-size: larger;
    border: #3AB3FF 1px solid;
    border-radius: 10px;
}
.container > .inputs > button :hover{
  background-color: #3ab3ff7d;
  cursor: pointer;
}

.cyrcle{
    background-image: url(./images/battle.png);
    background-size: cover;
=======
body{
   box-sizing: 0;
   margin:0;
   padding :0;
   font-family: 'Hermeneus One', sans-serif;                                                            
   letter-spacing: 2px;
 
}
.container{
    background : #F4F4F4;
    width: 90%;
    height : 80vh;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);

}

.buttons{
display: grid;
justify-items: center;

gap: 20px;
width: 100%;
}
.buttons > button{
    width: 250px;
    padding: 10PX;
    border: #F4F4F4 solid;
    border-radius: 5px;
    
}

.try {
    background-color: #179FF3;
    color: rgb(250, 249, 249);
}


.quit {
    background-color: #F98F8F;
    color: white;
}

.see{
    background-color: #5DCAB0;
    color:white;
>>>>>>> 044e64d86400e2ebf8f506eccbfcda2263d99699
}